.profile-img {
    font-size: 45px !important;
    color: #fff;
  }

  .bg-for-nav {
    background-color: #39374d;
  }

  #map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }